@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

:root {
    --color1: rgb(18, 23, 37);
    --color1-mobile: rgba(18, 23, 37, 0.9);
    /*Backgorund*/
    --color2: #54E6AF;
    --color3: #2C344B;
    --color4: #FFFFFF;
    --color5: #5A668A;
    --color6: #C2CBE5;
    --color8: #B3FFE2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color1);
    font-family: 'Chivo', sans-serif;
    color: white;
    font-weight: 300;
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
    height: 640px;
    width: 1275px;
    margin-left: 165px;
    display: flex;
    align-items: flex-end;
    background-image: url(assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.container {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 723px;
}

.logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.dots {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    padding-right: 5px;
}

.podcast--text {
    width: 100%;
    padding: 60px 0 40px 0;
}

h1 {
    font-size: 54px;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color2);
}

h1>span {
    color: var(--color4);
}

p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color6);
    padding: 30px 270px 5px 0;
}

.podcast--email {
    background-color: var(--color3);
    width: 430px;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    border: none;
    color: var(--color4);
}

.podcast--email>input:first-child {
    background-color: var(--color3);
    max-width: 100%;
    border: none;
    margin: 20px 0 20px 30px;
    color: var(--color4);
    font-size: 14px;
}

.podcast--email>input:first-child:active {
    background-color: var(--color3);
}

.podcast--email>input:first-child::placeholder {
    color: rgba(255, 255, 255, 0.5);

}

.podcast--email>input:last-child {
    margin: 5px;
    border-radius: 30px;
    border: none;
    padding: 0 25px;
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bold;
    transition: 0.3s;
}

.podcast--email>input:last-child:hover {
    background-color: var(--color8);
    transition: 0.3s;
    cursor: pointer;
}

.podcast--icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    max-width: 100%;
    padding: 40px 0 5px 0;
}

.podcast--icons-mobile {
    display: none;
}

#message {
    padding: 10px 0 0 25px;
}

@media(max-width:1140px) {
    section {
        margin-left: 70px;
    }

    .container {
        max-width: 700px;
    }

    p {
        padding: 28px 140px 5px 0;
    }
}

@media (max-width:992px) {
    body {
        align-items: flex-start;
    }

    section {
        height: 733px;
        width: 992px;
        max-width: 100%;
        margin-left: 35px;
        background-image: url(assets/tablet/image-host.jpg);
    }

    .container {
        max-width: 635px;
    }

    .logo {
        position: absolute;
        transform: translateY(100%);
    }

    .dots {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 850px;
    }

    .podcast--text {
        padding: 70px 0 40px 0;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
        padding: 28px 200px 5px 0;
    }

    .podcast--email {
        width: 430px;
        max-width: 100%;
    }

    .podcast--icons {
        width: 530px;
        max-width: 100%;
        padding: 50px 0 5px 0;
    }
}

@media (max-width:680px),
(max-width:820px) and (orientation:landscape) {
    body {
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url(assets/mobile/image-host.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    section {
        background: var(--color1-mobile);
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        max-width: none;
        background: none;
        text-align: center;
        padding: 0 20px;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 13%;
        transform: translateX(-50%);
    }

    .dots {
        display: none;
    }

    .podcast--text {
        width: 100%;
        padding: 0 0 25px 0;
    }

    h1 {
        font-size: 26px;
        line-height: 38px;
        padding: 10px 0;
    }

    h1>span {
        color: var(--color4);
    }

    p {
        font-size: 15px;
        line-height: 25px;
        padding: 15px 0;
    }

    .podcast--email {
        background: none;
        width: 100%;
        margin-top: 20px;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .podcast--email>input:first-child {
        border: none;
        border-radius: 30px;
        padding: 15px 25px;
        margin: 15px 0;
    }

    .podcast--email>input:last-child {
        border-radius: 30px;
        border: none;
        padding: 15px 25px;
        margin: 0;
    }

    .podcast--icons {
        display: none;
    }

    .podcast--icons-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .img-spotfy {
        width: 56px;
        height: 17px;
        margin: 2px;
    }

    .img-apple {
        width: 45px;
        height: 17px;
        margin: 2px;

    }

    .img-google {
        width: 73px;
        height: 11px;
        margin: 2px;

    }

    .img-pocket {
        width: 77px;
        height: 15px;
        margin: 2px;

    }

    #message {
        font-weight: 400;
        font-size: 12px;
        padding: 20px 0 0 0;
    }
}